body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(21,46,77);
  background: linear-gradient(0deg, rgba(21,46,77,1) 0%, rgba(4,66,149,1) 35%, rgba(62,118,192,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
