

#loginButton{
    background-color: white !important;
    border-radius: 0.5vh !important;
}

#fistLogo{
    position:relative;
    width: 8rem; /* Daha küçük ekranlarda logoyu küçülttüm */
    height: 8rem;
}

#formBox{
    background-color: #3e76c0 !important;
    width: 90% !important; /* Mobilde genişliği arttırdım */
    max-width: 400px; /* Masaüstü için maksimum genişlik belirledim */
}

input{
    border-radius: 5vh !important;
}

@media (max-width: 768px) {
    #formBox {
        width: 80% !important; /* Daha küçük cihazlar için genişliği ayarladım */
    }

    #fistLogo {
        width: 6rem;
        height: 6rem;
    }

    input {
        font-size: 1rem; /* Mobilde yazı boyutunu biraz küçülttüm */
    }
}